#header {
  height: 15vh;
  background-color: #42036a;
  display: flex;
  justify-content: space-between;
}
#logo {
  margin: 0% 4%;
  height: 100%;
  cursor: pointer;
}
#logo > img {
  height: 100%;
}
#navbar {
  width: 50%;
  margin-right: 4%;
}
#navlist {
  list-style: none;
  display: flex;
  color: #ff004d;
  justify-content: space-around;
  margin-top: 4%;
}
#navlist > li {
  margin: 10px;
  font-size: large;
  font-weight: 700;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: 200ms;
}
#navlist > li:hover {
  border-bottom: 2px solid #ff004d;
}
#log {
  background-color: #ff004d;
  border-radius: 8px;
  width: 6rem;
  height: 2.3em;
  color: aliceblue;
  font-weight: 500;
  border-color: transparent;
  cursor: pointer;
}
#log:hover {
  font-weight: 600;
  border-bottom: none;
}
body {
  margin: 0%;
}
#body-L1 {
  display: flex;
  justify-content: space-around;
  height: 15vh;
  margin-left: 25px;
  border-bottom: 2px solid rgba(97, 96, 96, 0.649);
  margin-right: 25px;
}
#filter-btns {
  display: flex;
  margin: auto;
  width: 50%;
}
#filter-btns > button {
  margin-top: 2.5%;
  height: 2.5em;
  background-color: #ff004d;
  margin-left: 1.8em;
  border-color: transparent;
  color: aliceblue;
  border-radius: 15px;
  width: 8em;
  cursor: pointer;
}
#search {
  margin: auto;
  width: 50%;
}
#search > button {
  margin-top: 1.5%;
  height: 2.5em;
  background-color: #ff004d;
  border-color: transparent;
  color: aliceblue;
  border-radius: 15px;
  width: 8em;
}
#search > input {
  width: 50%;
  border: 2px solid black;
  border-radius: 15px;
  height: 2.2em;
  margin-right: 5px;
}
#catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  width: 88%;
  margin-left: 6%;
}
#card {
  width: 28%;
  border: 1px solid rgba(102, 101, 101, 0.522);
  margin-bottom: 25px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #d1cfd1b8;
}
#prod_data {
  margin: 20px;
}
#prod_img {
  /* margin: auto; */
  width: 80%;
  margin-left: 10%;
  border-bottom: 1px solid black;
}
#prod_img > img {
  width: 100%;
}
#L1 {
  display: flex;
  justify-content: space-between;
}
#L2 > h4 {
  font-weight: 400;
}
